<h1>Search Your Character</h1>

<form action='/results' method="POST">
    <input type="text" name="name" placeholder="Enter Character Name">
    <input type="text" name="server" placeholder="Enter Server Name">
<form action='/' method="POST">
    <input type="text" placeholder="Enter Character Name">
    <input type="text" placeholder="Enter Server Name">
    <input type="submit" class="btn btn-primary" value="Find Your Character">
</form>