<h1>Search Your Character</h1>

<form action='/' method="POST">
    <input type="text" placeholder="Enter Character Name">
    <input type="text" placeholder="Enter Server Name">
    <input type="submit" class="btn btn-primary" value="Find Your Character">
</form>