<h1> Notes for <%- classData %></h1>

<!-- <form action="/jobData" method="GET"> -->
    <div class="jobContainer">
        <ul class="noteList">
            <% data.forEach(response => { %>
                <li class="selection"><%= response.content %>
                <form action="/jobData?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Note">
                </form> </li>
            <% }) %>
        </ul>     
    </div>
<!-- </form> -->

<form action="/addNote" method="POST">
    <input type="text" class="writeNote" name="noteField">
    <input type="text" class="class" value="classData">
    <input type="integer" class="char" value="charId">
    <input type="submit" value="Add Note">
</form>