<h1> Select Your Class </h1>

<form action="/jobData" method="GET" class="dropdown">
    <select name="classSelect">
        <% data.forEach(ClassJob => { %>
            <option class="selection"><%= ClassJob.UnlockedState.Name %></option>
        <% }) %>  
    </select>
    <input type="submit" value="Select">
    <input type="text" name="char" value='<%= charId %>' class="hideId">
</form>

<!-- <form action="/jobData" method="GET" >
    <input type="submit" value="General Notes"></button>
</form> -->
<img src='<%= img %>'>   