* {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

h1 {
    margin-top: -80px;
}

.hideId, .class, .char, .char2, .jobID, .noteID {
    visibility: hidden;
}

/* input .writeNote {
    height: 250%;
    width: 300%;
} */

.dropdown {
    margin-top: -50px;
}

body {
    background: skyblue;
}

img {
    height: 50%;
    width: 50%;
}